{{ if .Site.Params.gitalk }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script>
  var gitalk = new Gitalk({
    clientID: '{{ .Site.Params.gitalk_clientID }}',
    clientSecret: '{{ .Site.Params.gitalk_clientSecret }}',
    repo: '{{ .Site.Params.gitalk_repo }}',
    owner: '{{ .Site.Params.gitalk_owner }}',
    admin: {{ .Site.Params.gitalk_admin }},
    id: location.pathname.split('/').pop(),  // 以文章 URL 作为评论 ID
    distractionFreeMode: false
  })
  gitalk.render('gitalk-container')
</script>
{{ end }}
